:root{
    --primary-color:rgb(245, 231, 231);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialised;
    background: var(--primary-color);
    color: #000;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    color: #000;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover{
    background-color: var(--primary-color);
    color: red;
}

button{
    display: inline-block;
    background: green;
    cursor: pointer;
    color: var(--primary-color);
    border: none;
    font-weight: bold;
    margin-top: 0.3rem;
}

button:hover{
    background: rgb(224, 191, 191);
    color: green;
}

div{
    position: relative;
}

.btn-lg{
    padding: 0.4rem 2rem;
    border-radius: 2rem;
    width: 27rem;
}

.btn-sm{
    padding: 0.2rem 1rem;
}

@media(max-width:1200px){
    .btn-lg{
        padding: 0.4rem 2rem;
        border-radius: 2rem;
        width: 23rem;
    }
}

@media(max-width:900px){
    .btn-lg{
        padding: 0.4rem 2rem;
        border-radius: 2rem;
        width: 17rem;
    }
}

@media(max-width:800px){
    .btn-lg{
        padding: 0.4rem 2rem;
        border-radius: 2rem;
        width: 15rem;
    }
}

.form-area{
    position: absolute;
    top: 7rem;
    left: 9rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    word-wrap: none;
    word-spacing: 0.1rem;
}

.form-area h2{
    display: inline-block;
    padding: 0.5rem;
    border-bottom: 0.2rem solid green;
    margin-bottom: 1rem;
}

#username-label{
    text-transform: uppercase;
}

#password-label{
    text-transform: uppercase;
}

#check{
    display: inline-block;
    margin-top: 0.6rem;
}

#check-label{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.form-check{
    display: flex;
}

.form-check div{
    width: 50%;
}

.form-check a{
    color: green;
}

.form-check a:hover{
    color: red;
}

.bs-table caption{
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

.error{
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}